{% load i18n %}
{% load mptt_tags %}
<div class="navbar main-nav">
<div class="container">
<div class="navbar-inner">
<ul id="top_dropdown" class="sf-js-enabled sf-shadow nav sf-menu">    <!-- раньше не было sf-menu-->


       


        {% for top_category in categories %}
            
            <li id="cat_{{ top_category.id }}" class="main-category {{ top_category.id }}">
                <a class="a_category sf" href="{% url lfs_category top_category.slug %}">{{ top_category.name }}</a>
                    <span class="cart-content {{ top_category.id }}"></span>
                {% if top_category.get_children|length >= 1 %}<ul  id="sub-nav" class="dropdown-menu sf-menu sub-nav{{ top_category.id }} ">
                    {% if not top_category.is_leaf_node %}
                            {% for category in top_category.get_children %}
                            {% if forloop.first %}

                            <div id="category-menu" class="category_row span12">

                            {% endif %}

                            <li class="category_name"><a class="red"  href="{% url lfs_category category.slug %}">{{ category.name }}({{ category.product_count }})</a>
                            {% if not category.is_leaf_node %}
                               <!--  <ul class="dropdown-menu column{{ category.extras.column }}" >
                                    {% for item in category.get_children %}
                                        <li><a href="{% url lfs_category item.slug %}">{{ item.name }}</a></li>
                                    {% endfor %}
                                </ul> -->
                                {% endif %}
                            </li>
                            {% if forloop.counter|divisibleby:top_category.extras.row %}
                {% if forloop.last %}
                    </div>
                {% else %}
                    </div>

                {% endif %}
            {% endif %}

                            {% endfor %}
                        
                    {% endif %}
                                 <script type="text/javascript"> 
                    $(".sub-nav{{ top_category.id }}").hover(
                        function () {
                            $(".main-category.{{ top_category.id }}").addClass("hover");
                        },
                        function () {
                            $(".main-category.{{ top_category.id }}").removeClass("hover");
                    });
                    $(".cart-content.{{ top_category.id }}").hover(
                        function () {
                            $(".main-category.{{ top_category.id }}").addClass("hover");
                        },
                        function () {
                            $(".main-category.{{ top_category.id }}").removeClass("hover");
                    });
                    </script>


                </ul>{% endif %}
            </li>   
        {% endfor %}


<li id="excel" class="static_menu"><a href="http://fitoapteka.com/sites/fitoapteka/nocache/fitoapteka_price.xls">Прайс в<br> Excel</a></li>
 <li class="static_menu"><a href="/page/kontaktu">Контакти</a></li>
        </ul>
</div>
</div>
</div>
