{% extends "lfs/base.html" %}
{% load scms_tags %}
{% load pagination_tags %}
{% load lfs_portlets_tags %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}

{% block content %}

<div class="middle-slot">
<link rel="stylesheet" type="text/css" href="{% static 'css/info-page.css' %}">
    {% if page %}
    <ul class="breadcrumb" >
            <li>
                <a href="/" ><i class="icon-home"></i></a>
            </li>
            <li>
                <a href='/info/'>{{ info_page_name }}</a> /
            </li>
            <li>
                <a href="{% url 'scms_view_category' page_category.slug %}"> {{ page_category.name }}</a> /
            </li>
            <li>
                <span>{{ page.title }}</span>
            </li>
    </ul>
        <h1>{{ page.title }}</h1>
        <div class="info-page-create-date">{{ page.create_date }}</div>
        <div class="info-page-full-text">
            {% if page.icon %}
                <img src="{{MEDIA_URL}}{{page.icon}}" alt="">
            {% endif %}
            {{ page.text|safe }}
        </div>
        
    {% else %}
         {% if page_category %}
            <ul class="breadcrumb" >
        <li>
            <a href="/" ><i class="icon-home"></i></a> /
        </li>
        <li>
            {% if page_category %}<a href='/info/'>{{ info_page_name }}</a> /
        </li>
        <li>
            <span> {{ page_category.name }}</span>{% endif %}
        </li>
    </ul>

             <div class="info-all-news-block">
               <h1>{{ page_category.name }}</h1>
            {% autopaginate category_news page_category.pagination %}
            {% for n in category_news %}
            <div class="well">
                <div class="title">
                    <h4>{{ n.title }}</h4>
                </div>
                {% if n.icon %}
                    <img class="news_icon pull-left" src='{{MEDIA_URL}}{{n.icon}}'>
                {% endif %}
                <div class="description">{{ n.preamble|safe }}</div>
                {% if n.text %}
                    <div class="more pull-right">
                        <a href="/info/{{ page_category.slug }}/{{ n.slug }}.html">{% trans 'Read more'%}</a>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
            </div>
            {% paginate %}
        {% endif %}
    {% endif %}
</div>


{% endblock %}
{% block body_bottom %}
<script type="text/javascript">
    mediator.publish('change_slots_width', "span3", "span9", "span9");
    config.right_portlet_count++;
</script>
{% endblock %}
