{% load scms_tags %}
{% if info_page %}

<ul class="nav nav-list">
	{% for category in categories %}{% menu_tree category current_slug %}{% endfor %}
</ul>
<script type="text/javascript">
	{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
	config.right_portlet_count++;
</script>
{% endif %}
