{% load i18n %}
<div class="row-fluid">
    {% with amount=cart.get_amount_of_items %}
    {% if amount == 0 or not cart %}
    <div id="empty-cart" class="span12">
        <img src="{{ STATIC_URL }}img/empty-cart.png">
        <div id="empty-cart-text" class="span12">
        <p>{% trans "Ваш кошик порожнiй" %}</p>
    </div>
    </div>
    {% else %}
    <div id="full-cart" class="span12">
        <img src="{{ STATIC_URL }}/img/full-cart1.png">
        <p>{% trans "товарів" %}:{{ amount|floatformat  }}  шт.</p>
        <a id="clear-cart">очистити кошик</a>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <a class="btn btn-small" href="{% url lfs_checkout %}">{% trans "Оформить заказ" %}</a>
        </div>
    </div>
    {% endif %}
    {% endwith %}
</div>

<script type="text/javascript">
    $("#clear-cart").click(function(){
        $('#cart-container').load('{% url lfs_clear_cart %}');
    });
</script>
