{% extends "lfs/base.html" %}
{% load i18n lfs_tags lfs_portlets_tags %}
{% load seo_data %}
{% block right-slot-wrapper%}{% endblock %}

{% block head %}
    <meta name="keywords" content="{% get_keywords %}" />
    <meta name="description" content="{% get_description %}" />
{% endblock %}

{% block section %}page{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs page %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1 class="first-heading">
        {{ page.title }}
    </h1>
</div>

<div>
        {{ page.body|safe }}
</div>

    {% if page.file %}
        <a href="{{page.file.url}}">
            {% trans "Download" %}
        </a>
    {% endif %}


{% endblock %}

{% block body_bottom %}
<script type="text/javascript">
    mediator.publish('change_slots_width', "span3", "span12", "span9");
    config.right_portlet_count--;
</script>
{% endblock %}

