{% load i18n lfs_tags %}
{# Link bar #}
<div class="navbar header-nav pull-left">
    {% actions Link_bar %}
    <ul class="nav">
        {% for action in actions %}
            <li><a href="{{ action.link }}">{{ action.title }}</a></li>
        {% endfor %}
         <li><a href="https://siteheart.com/webconsultation/630506?" target="siteheart_sitewindow_630506" onclick="o=window.open;o('https://siteheart.com/webconsultation/630506?', 'siteheart_sitewindow_630506', 'width=550,height=400,top=30,left=30,resizable=yes'); return false;">ЧАТ</a></li>
    </ul>
</div>
