{% load i18n %}
{% load lfs_tags %}
{% load lfs_theme_tags %}
{% load lfs_portlets_tags %}
{% load url from future %}

{# This is version of top bar for printer #}
<div class="row-fluid print-show"><div class="span12">{{ SHOP.name }}</div></div>

{# This is a common version of top bar #}
<div class="row-fluid print-hide">
<div class="span12">
        {% include "lfs/link_bar.html" %}        
</div>
