{% load i18n l10n lfs_tags sshop_tags pagination_tags sshop_tags reviews_tags %}
{% load url from future %}
<br><br>
<table class="cart" style="width:100%">
    {% for cart_item in cart_items %}
    <tr>
        <td class="image" rowspan="3">
            <a href="{{ cart_item.product.get_absolute_url }}">
                {% if cart_item.product.get_image.image %}
                <img src="{{ cart_item.product.get_image.image.url_60x60 }}"
                     alt="{{ cart_item.product.get_name }}" class="thumbnail cart-image"/>
                {% else %}
                    <img alt="{{ cart_item.product.name }}" src="{{ STATIC_URL }}img/60x60.gif" class="thumbnail cart-image" />
                {% endif %}
            </a>
        </td>
        <td>
            <a href="{{ cart_item.product.get_absolute_url }}">
                {{ cart_item.product.get_name }}
            </a>
        </td>
        <td>
            <a href="#"
                name="cart-item_{{ cart_item.obj.id }}"
                title="{% trans 'Delete item' %}"
                class="delete-button delete-checkout-cart-item pull-right"><i class="icon-trash"></i></a>
        </td>
    </tr>
    <tr>
        <td>Код - {{ cart_item.product.id_1c }}</td>
        <td>

        </td>
    </tr>
    <tr>
        <td class="number">
            {% format_as_price cart_item.product_price %} x
            <input class="number checkout-cart-amount input-minimini"
                    type="text"
                    name="amount-cart-item_{{ cart_item.obj.id }}"
                    id="cart-item_{{ cart_item.obj.id }}"
                    size="6"
                    value="{{ cart_item.quantity }}" />
        </td>
        <td class="number pull-right">
            {% if SHOP.default_currency_id != selected_payment_method.currency_id %}
            <strong>{% format_as_payment_price cart_item.product_price_total selected_payment_method %}</strong> ({% format_as_price cart_item.product_price_total %})
            {% else %}
            {% format_as_price cart_item.product_price_total %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    <tr style="border-top:1px solid #eee;"><td colspan="3"></td></tr>
{% for discount in discounts %}
<tr>
    <td></td>
    <td>{{ discount.name }}&nbsp;
    {% if discount.is_absolute %}
        <span class="pull-right">{% format_as_price discount.price|negate %}</span>
    {% else %}
        <span class="pull-right">{{ discount.value|negate }} %</span>
    {% endif %}
    </td>
<td class="number pull-right">
    {% if SHOP.default_currency_id != selected_payment_method.currency_id %}
    <strong>{% format_as_payment_price discount.price|negate selected_payment_method %}</strong>
                ({% format_as_price discount.price|negate %})
            {% else %}
                {% format_as_price discount.price|negate %}
            {% endif %}
</td>
</tr>
{% endfor %}
</table>
<hr>
<table style="width:100%">
    {% if shipping_price > 0 %}
    <tr>
        <td>
            {% trans 'Shipping' %} ({{ selected_shipping_method.name }})
        </td>
        <td class="number pull-right">
            {% if SHOP.default_currency_id != selected_payment_method.currency_id %}
            <strong>{% format_as_payment_price shipping_price selected_payment_method %}</strong> ({% format_as_price shipping_price %})
            {% else %}
            {% format_as_price shipping_price %}
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% if payment_price > 0 %}
    <tr>
        <td>
            {% trans 'Payment' %} ({{ selected_payment_method.name }})
        </td>
        <td class="number pull-right">
                {% if SHOP.default_currency_id != selected_payment_method.currency_id %}
                <strong>{% format_as_payment_price payment_price selected_payment_method %}</strong> ({% format_as_price payment_price %})
                {% else %}
                {% format_as_price payment_price %}
                {% endif %}
        </td>
    </tr>
    {% endif %}
</table>  

<table style="width:100%">    
    <tr>
        <td class="total number padding-top">
            {% trans 'Total' %}:
        </td>
        <td class="pull-right">
            {% if SHOP.default_currency_id != selected_payment_method.currency_id %}
            <strong>{% format_as_payment_price cart_price selected_payment_method %}</strong> ({% format_as_price cart_price %})
            {% else %}
            {% format_as_price cart_price %}
            {% endif %}
            </div>
        </td>
    </tr>
</table>

<script>
        mediator.publish('change_slots_width', "span3", "span12", "span9");
        config.left_portlet_count--;
        config.right_portlet_count++;
</script>


<script type="text/javascript">
$('.checkout-cart-amount').change(function(){
    mediator.publish('change_amount_cart_item');
})
$('.delete-checkout-cart-item').click(function(){
    mediator.publish('remove_cart_item');
})

$('#show_voucher').click(function(){
    $('#div_voucher').toggleClass('hidden')
    $('#div_voucher')[0].style.display = ""
    $('#show_voucher').remove()
})
$('#voucher_check').click(function()
{
    var url = $('#voucher').attr("data");
    var voucher = $('#voucher').attr("value");
    $.post(url, { "voucher" : voucher }, function(data) {
        update_html(data);
    });
})
</script>