{% load i18n %}
<div class="payment">
  <div class="control-group">
    <b class="control-label">{% trans 'Способ оплаты' %}</b>
      <div class="controls payment-method">
        <select name="payment_method"
              class="update-checkout">
        {% for payment_method in payment_methods %}
            <option name="payment_method"
                class="update-checkout payment-methods payment-method-type-{{ payment_method.type }}"
                id="payment-method-{{ payment_method.id }}"
                value="{{payment_method.id}}"
                {% ifequal payment_method.id selected_payment_method.id  %}selected="selected"{% endifequal %}>
                {{ payment_method.name }}
            </option>
        {% endfor %}
      </select>
      <div class="row-fluid">
        <div class="span9">
          {{ selected_payment_method.description|safe }}
        </div>
      <div class="span2">
          {% if selected_payment_method.image %}
              <img src="{{ selected_payment_method.image.url }}"
                   alt="{{ selected_payment_method.name }}">
          {% endif %}
      </div>
      </div>
      </div>
  </div>

    {% comment %}
    {% for payment_method in payment_methods %}
        <div class="payment-method row-fluid">
            <div class="span1">
                <input type="radio"
                       name="payment_method"
                       class="update-checkout payment-methods payment-method-type-{{ payment_method.type }}"
                       id="payment-method-{{ payment_method.id }}"
                       {% ifequal payment_method.id selected_payment_method.id  %}checked="checked"{% endifequal %}
                       value="{{payment_method.id}}" />
            </div>

            <div class="span1">
                {% if payment_method.image %}
                    <img class="payment-method"
                         src="{{ payment_method.image.url }}"
                         alt="{{ payment_method.name }}">
                {% endif %}
            </div>
            <div class="span3">
                <label for="payment-method-{{ payment_method.id }}">{{ payment_method.name }}</label>
            </div>
            <div class="span7">
                {{ payment_method.description|safe }}
            </div>
        </div>
    {% endfor %}
    {% endcomment %}
</div>
