{% extends "lfs/base.html" %}

{# load regions_tags #}
{% load vertical_menu_tags %}
{% load lfs_tags %}
{% load bootstrap_toolkit %}
{% load snippets_tags %}
{% load seo_data %}


{% load i18n lfs_tags pagination_tags sshop_tags %}
{% block title %}
    {% trans 'Search results' %} - {{ block.super }}
{% endblock %}
{% block section %}search-results{% endblock %}
{% block breadcrumbs %}
    {% breadcrumbs _("Search results") %}
{% endblock %}

{% block wrapper %}
<div id="middle-slot-container">
<div class="page-header">
    <h1 class="first-heading">{% trans 'Search results' %}</h1>
</div>

    <label for="search">{% trans 'Search' %}:</label>
    <form action="{% url lfs_search %}"
          class="search-results-form form-inline">
        <div class="input-append">
 <input id="search-input" name="q"  class="input-large search-query" value="{{ q }}" type="text" placeholder=" {% trans 'Search products...' %}" >
 <button class="btn" type="submit">{% trans 'Go!' %}</button>
        </div>
    </form>

    <div class="row-fluid">
        <div class="span12">
        <p class="search-results-description">
 {% trans 'You searched for' %} <span class="search-results-query">"{{ q }}"</span>.
 {% blocktrans count total as counter %}1 product was found.{% plural %}{{ counter }} товарів було знайдено.{% endblocktrans %}
        </p>
        </div>
    </div>

    {% if products %}

        {% if not paginator %}
 {% autopaginate products 15 %}
        {% endif %}
        <div class="row-fluid">
 <div class="span12">
     <div>
     {% sorting %}<br>
     </div>
 </div>
        </div>

        <div class="row-fluid">
        <div class="span12">
    
 <div id="search_table">
          {% for product in products %}
{% if product.right_block %}<tr><td>{% else %}<td>{% endif %}
<div class="search_item">
  <div class="product-table-item">
      <div class="row-fluid">
          <div class="span7 offset2">
   <a href="{{ product.get_absolute_url }}" class="preview-100-100">
       <img src="{{ product.get_image.image.url_100x100 }}"
 alt="{{ product.get_name }}"
 title="{{ product.get_name }}" />
   </a>
          </div>
      </div>
      

      <div class="row-fluid">
          <div class="span12">
   <a href="{{ product.get_absolute_url }}">
       {{ product.get_name }}
   </a>
   <br>{{ product.short_description|safe }}
   {% comment %}
   {% for property in product.get_variant_properties %}
       <div>
{{ property.title }} : {{ property.value }} {{ property.unit|safe }}
       </div>
   {% endfor %}

   {% for property in product.get_displayed_properties %}
       <div>
{{ property.title }} : {{ property.value }} {{ property.unit|safe }}
       </div>
   {% endfor %}
   {% endcomment %}   
          </div>
      </div>


      <div class="row-fluid">
   <div class="span8">
       <div class="product-price">
       {% if product.get_for_sale %}
<div class="product-price">
<span class="label label-important price">{% for_sale_price product %}</span>
<ul>
<li><span class="for-sale-price">{% trans 'Instead' %}: {% standard_price product %}</span></li>
<li><span class="for-sale-standard-price">{% trans 'You save' %}: {% price_difference product %}</span></li>
</ul>
</div>
       {% else %}
<div class="product-price">
<span class="label label-info price">{% price product %}</span>
</div>
       {% endif %}
       </div>
   </div>
    <div class="span2">
    {% if product.status.show_buy_button %}
       <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
class="add-to-cart-form"
method="post">
       {% csrf_token %}
       <input name="product_id" type="hidden" value="{{ product.id }}" />
       <input name="ajax_mode" type="hidden" value="1" />
       <button class="btn"></button>
       </form>
       {% endif %}
   </div>
    <div class="span2">
    <a class="read_more" href="{% url lfs.catalog.views.product_view product.slug %}">
        <button class="btn"></button>
   </a>
   </div>

      </div>
  </div>
  </div>
  {% endfor %}
 </div> 

      </div> 
      </div>  
      <div class="pagination_search">
    {% paginate %}</div>
    {% endif %}
</div>





<div id="right-slot-container" class="span3"> {# Class is set automatically #}
      <div class="right-slot">
      <div class="row-fluid print-hide">
           <div class="span12">
               {% include "lfs/search.html" %}
           </div>
      </div> 

        <div  id="login-right_search" class="row-fluid print-hide">
        <div id="search_authenticated" class="span12">
{% if user.is_authenticated %}
                     <ul id="base_is_authenticated" class="nav">

                    <li><a href="{% url 'lfs_my_account' %}">
                    <i class="icon-user"></i> {% include "lfs/customer/customer_name.html" %}</a></li>


                    {% if user.is_superuser %}
                         <li><a href="{% url admin:index %}">{% trans 'Manage' %}</a></li>
                    {% endif %}

                    <li><a href="/logout">{% trans 'Logout' %}</a></li>
                    </ul>
            </div>
                {% else %}
                    {% if not ANON_ONLY %}                        

                                <div  id="login-right" class="row-fluid print-hide">
        
                                       <form class="authenticate form-horizontal"
                                                         action="/login"
                                                          method="post">
                                                        {% csrf_token %}                                              
                                <div class="control-group required">
                                <div class="controls">  
                                    <input id="id_username" type="text" name="username" maxlength="30">
                                </div>
                                </div>

    
                                <div class="control-group required">
                                <div class="controls">
                                    <input type="password" name="password" id="id_password">
                                </div>
                                </div>

    


                                                    <input type="hidden"
                                                                   name="action"
                                                                   value="login" />

                                                            <input type="hidden"
                                                                   name="next"
                                                                   value="{{ next_url }}" />

                                                        <div class="form-actions">
                                                        <button type="submit"
                                                                name="login_submit"
                                                                class="btn btn-primary">{% trans 'УВІЙТИ' %}</button>
                                                <a href="/login/">{% trans 'Реєстрація' %}</a>
                                                        </div>
                                                    </form>
                              <div class="span12">
                                              
                                            </div>
                                </div>
                          {% endif %}                        
                {% endif %}

    </div>
  </div>

{% endblock %}


{% block body_bottom %}
  <script>
    mediator.publish('change_slots_width', "span3", "span9", "span9");
    config.right_portlet_count++;
  </script>
{% endblock %}