{% load i18n %}
{% load mptt_tags %}
{% load lfs_tags %}
{% if categories %}
<div id="v-menu">
<div id="main-nav" class="sub_menu">

            {% for category,structure in categories|tree_info %}    
            {% if forloop.first %}
            {% if structure.new_level %}{% endif %}
            {% else %}
            {% if structure.new_level %}<ul id="category-submenu-{{ category.id }}">
            <li>
            <a {% if category.id == current_id %}class="current"{% endif %}
                   href="{{ category.get_absolute_url }}">
                    {{ category.name }}({{ category.product_count }})</a>
            </li>{% else %}
            <li class="level-{{ category.level }}"> 
                    <a {% if category.id == current_id %}class="current"{% endif %}
                        href="{{ category.get_absolute_url }}">
                        {{ category.name }}({{ category.product_count }})
                    </a>
            </li>{% endif %}
            {% endif %}

            {% for level in structure.closed_levels %}</ul>{% endfor %}
            {% endfor %}
</div>
</div>
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}