{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}


{% if categories %}

    <div class="featured-products-portlet portlet">
            {# -----------------------PRODUCTS SLIDESHOW------------------------------------ #}
             <div id="category-type">
             <h4>Товари за типами</h4>
                <ul>
                {% for category in categories %}
                <li>
                        <div class="product-data">
                            <div class="image-wrapper">
                                <a href="{{ category.get_absolute_url }}">
                                   <img src="{{ category.get_image.url_100x100 }}">
                                </a>
                            </div>
                            
                            <div class="product-title">
                                <a href="{{ category.get_absolute_url }}" class="product-title">{{ category.name }}</a>
                            </div>
                        </div>
    
                </li>
                {% endfor %}{# slideshow categories #}
                </ul>
                {# tabs #}

<!--
                <ul style="display:none">
                {% for category in categories %}
                    <li><a href="#tab-{{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% endfor %}
                </ul> -->

            </div>
    
            {# -----------------------END PRODUCTS SLIDESHOW-------------------------------- #}
    </div>
{% endif %}