{% load i18n %}
{% load sshop_tags %}

{% if topseller %}
    <div id="portlet_{{ slot.id }}_{{ portlet_id }}" class="topseller-portlet portlet">
        <div class="portlet-header">
            <h4>{{ title }}</h4>
        </div>
        <div id="topseller-carousel" >
            <div class="products-wrapper slideshow">
            <ul class="jcarousel-skin-tango">
                {% for item in topseller %}
                {% with item.product as product %}
                 <li><div class="portlet-item">
                    <div class="product-data">
                    <div class="image-wrapper">
                        <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.get_image.image.url_100x100 }}">
                        </a>
                    </div>
                    <div class="product-title">
                        <a href="{{ product.get_absolute_url }}" class="product-title">{{ product.get_name }}</a>
                    </div>
                    <div class="product-price">
                        {% format_as_price product.price %}
                    </div></div></div>
                </li>
                {% endwith %}
                {% endfor %}
                {# portlet-body #}
            </ul>
        </div>
               <script type="text/javascript">
               //     $('.slideshow').tabs({ fx: { opacity: 'toggle', duration: 'fast' } }).tabs('rotate', 3000);
                
                 $('ul.jcarousel-skin-tango').each(function(index){
                        $(this).attr('id', 'tabs_carousel-' + index); 
                    })

                        $("[id*=tabs_carousel]").jcarousel({
                            scroll: 1,
                            wrap: 'circular',
                        });
                </script>
        </div>
    </div>

<script type="text/javascript">
{% if slot.slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot.slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}
