{% load i18n lfs_tags sshop_tags %}
{% load properties_tags %}
{% include "lfs/catalog/categories/product/toolbar.html" %}
<div class="description">
    {{ category.description|safe }}
</div>

<div id="products">
    {% if not products_count and filtered %}
        <div class="alert">
            <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
        </div>
    {% endif %}
    {% for product in products %}
    <div class="product-list-item">
        <div class="row-fluid">
            <div class="span2">
                <a href="{% url lfs.catalog.views.product_view product.slug %}">
                    {% if product.get_image.image.url_100x100 %}
                        {% badges_for_product product %}
                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_100x100 }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                    {% endif %}
                </a>
            </div>
            <div class="span7">
                
                <div class="product-caption"><a href="{% url lfs_product product.slug %}">{{ product.get_name }}</a></div>
                <span class="product_code">Код - {{ product.id_1c }}</span>{% property_value_icons product %}
                <div class="product-description">{{ product.get_short_description|safe }}</div>


                {% for property in product.get_visible_in_list_properties %}{% spaceless %}<p>{{ property.title }}: {{ property.value|safe }}</p>{% endspaceless %}{% endfor %}

           
                {% if product.is_product_with_variants %}
                <div id="variants-{{ product.pk }}"></div>
                {% endif %}
            </div>
            <div class="span2">
            {% if product.is_product_with_variants %}
                <div class="product-price">
                <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">
                    {% cheapest_price product %}
                </span>
                </div>  
                <a href="{% url lfs_product_variants_for_category product.pk %}" class="btn btn-mini ajax-load" data-container="#variants-{{ product.pk }}">{% trans "All variants" %}</a>
            {% else %}

            {% if product.get_for_sale %}
                <div class="product-price">
                <span class="label label-important price">{% for_sale_price product %}</span>
                <ul>
                <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                </ul>
                </div>
            {% else %}
                <div class="product-price">
                <span class="label label-info price">{% price product %}</span>
                </div>
            {% endif %}
            {% if product.status.show_buy_button %}
            <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                class="add-to-cart-form" method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ product.id }}" />
            <input name="ajax_mode" type="hidden" value="1" />
            <input class="input-small inline" name="quantity" type="text" value="{{ product.default_value }}" />
            <button class="btn"></button>
            <!--<button class="btn">{% trans "Add to cart" %}</button> -->
            </form>
            {% endif %}
            {% endif %}
            </div>
        </div>
        </div>
        {% endfor %}
</div>

{% include "lfs/catalog/categories/product/products_navigation.html" %}