{% load i18n l10n lfs_tags sshop_tags reviews_tags %}
{% load properties_tags %}
{% load share_widget %} 
{% load i18n %}
{% load lfs_tags %}
{% load bootstrap_toolkit %}
{% load loginza_widget %}

<div class="row-fluid">
<div class="span12">

<form id="product-form" action="{% url lfs.catalog.views.product_form_dispatcher %}"
class="add-to-cart-form" method="post">
{% csrf_token %}
<div class="row-fluid product-toolbar">

    <div class="span6">
             {% if product.get_image %}
        <a href="{{ product.get_image.image.url }}" class="product-detail-lightbox colorbox product-image"
        rel="colorbox" title="{{ product.get_image.title }}">
        {% badges_for_product product %}
        <img src="{{ product.get_image.image.url_200x200 }}"
             alt="{{ product.get_image.title }}"
             class="product-image thumbnail"
             itemprop="image" />
    </a>
        {% else %}
        <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.get_image.title }}"
        class="product-image" />
        {% endif %}



        <script type="text/javascript" src="//yandex.st/share/share.js"
            charset="utf-8"></script>
            <div class="share">
            <p>Рассказать друзьям: </p>
            <div class="yashare-auto-init" data-yashareL10n="ru"
             data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,gplus">
            </div> 
            </div>

    </div>



    <div class="span6">
        <h1 class="product-caption"><span itemprop="name">{{ product.get_name }}</span></h1>
         <div>
        <p>Производитель :</p>
         <a href="{{ product.manufacturer.url }}" rel="colorbox" title="{{ product.manufacturer }}">{{ product.manufacturer}}</a>
          <p>Форма випуска : {% property_for_product product "forma-vyipuska" %}</p>
         </div>      
            <div class="prices">
                {% if product.get_for_sale %}
                    <div class="product-price">
                    <span class="label label-important price" price="{{ product.price }}" currency="{{ currency.code }}">{% for_sale_price product %}</span>
                    <ul>
                    <li><span class="for-sale-price">{% trans 'Instead' %}: {% standard_price product %}</span></li>
                    <li><span class="for-sale-standard-price">{% trans 'You save' %}: {% price_difference product %}</span></li>
                    </ul>
                    </div>
                {% else %}
                    <div class="product-price">
                    <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">{% price product %}</span>
                </div>
                {% endif %}
            </div> <!-- prices -->

            <div class="add-to-cart">
            {% if product.status.show_buy_button %}
                    <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                        class="add-to-cart-form"
                         method="post">
                    {% csrf_token %}
                        <input name="product_id" type="hidden" value="{{ product.id }}" />
                        <input name="ajax_mode" type="hidden" value="1" />
                        <button class="btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Add to cart" %}
                        </button>
                        {% else %}
                        <button class="btn emphasized"
                        onclick="window.location='{% url lfs_contact_form %}'; return false"
                        name="">
                            {% trans 'Send request' %}
                        </button>
                    </form>
                {% endif %}
            </div>
    </div>


</div>


<input type="hidden" name="product_id" value="{{ product.id }}" />
<div class="row-fluid">
    <div class="span12">
    <div class="short-description">
        <span itemprop="description">{{product.get_description|safe}}<span>
    </div>

    </div>
</div>

{# Configurable Properties #}


{# Variants #}
{% if product.is_product_with_variants or product.is_variant %}
    {% include variants_display_type_template %}
{% endif %}

{# Attachments #} {% if attachments %}
<div class="row-fluid">
    <div class="span12">
        <div class="attachments">
            <h3 class="section">
                {% trans 'Attachments' %}
            </h3>
            {% for attachment in attachments %}
            <div class="item">
                <div class="title">
                    <a title="{{ attachment.title}}" href="{{ attachment.get_url }}">
            {{ attachment.title}}
        </a>
                </div>
                {% if attachment.description %}
                <div class="description">
                    {{ attachment.description }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{# Accessories #} {% if product_accessories %}
<div class="row-fluid">
    <div class="span12">
        <div class="accessories">
            <h3 class="section">
                {% trans 'Сопутствующие товары' %}
            </h3>
            <div>
                {% if product_accessories|length < 5 %}
                <ul id="categories-carousel">
                {% for product_accessory in product_accessories %}
                    <li>
                    <div class="image-wrapper">
                        <a href="{{ product_accessory.accessory.get_absolute_url }}">
                           <img src="{{ product_accessory.accessory.get_image.image.url_100x100 }}">
                        </a>
                    </div>
                    <a class="product-title" href="{{ product_accessory.accessory.get_absolute_url }}">{{ product_accessory.accessory.name }}<br /> <br /></a> <p>Цена:</p>
                    <p class="product-price">{{ product_accessory.accessory.price|floatformat:2 }} {{ SHOP.default_currency.abbr }}</p>   

                </li>
                {% endfor %}
            </ul>

            {% elif product_accessories|length > 5 %}
                            <ul id="categories-carousel" class="jcarousel-skin-tango">
                {% for product_accessory in product_accessories %}
                    <li>
                    <div class="image-wrapper">
                        <a href="{{ product_accessory.accessory.get_absolute_url }}">
                           <img src="{{ product_accessory.accessory.get_image.image.url_100x100 }}">
                        </a>
                    </div>
                    <a class="product-title" href="{{ product_accessory.accessory.get_absolute_url }}">{{ product_accessory.accessory.name }}<br /> <br /></a>
                    <p class="product-price">{{ product_accessory.accessory.price|floatformat:2 }} {{ SHOP.default_currency.abbr }}</p>   
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
</form>
</div>
</div>